@import "normalize.css"
@import "mixins.styl"

body
  font-family Helvetica, sans-serif
  line-height 1.7em
  font-size 12px

hr
  clear both

#main
  width 640px
  margin auto

input[type=text]
  width 100%
  border 1px solid #cccccc
  padding 0.5em 0.7em

input[readonly]
  color #636363 
  background #dfdfdf

.hidden
  display none

article#desc
  h1, div
    text-align center
  p
    width 320px
    margin auto

dt
  font-weight bold
  width 80px
  float left
  text-align right

dd
  margin 0px 0px 0px 100px
